# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
!win_bison.exe
!win_flex.exe
!CFortranTranslator.exe
*.out
*.app

*.sdf
*.opensdf
*.suo
*.idb
*.pdb

.vs/
out/
vsbuild/*
*.opendb
*.db
*.lnk
*.log
*.tmp
*.output
*.flex.cpp
*.tab.cpp
*.tab.hpp
presentation/
~m4*
*.diagsession
*.vspx
bin/CFortranTranslator.exe
*.7z
/src/grammar/useless
opencoveragecpp.cmd

# macOS
.DS_Store

# vs
.vs
out

# vscode
.vscode
.history

# idea
.idea
cmake-build-debug
