# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
!win_bison.exe
!win_flex.exe
!CFortranTranslator.exe
*.out
*.app

*.sdf
*.opensdf
*.suo
*.idb
*.pdb
vsbuild/.vs/
vsbuild/x64/
vsbuild/Debug/
vsbuild/Release/
*.opendb
*.db
*.lnk
*.log
*.tmp
*.output
*.flex.cpp
*.tab.cpp
presentation/
~m4*
*.diagsession
demos/test_workplace/
bin/
bin/CFortranTranslator.exe
*.7z
/demos/1.txt
/src/grammar/useless
*.test
opencoveragecpp.cmd